body {
  font-family: "Futura", Helvetica, sans-serif;
}

h1{
  font-weight: bold;
  text-align: center;
}

.cover-image{
  margin: auto;
  display: block;
}

.nav{
  text-align: center;
  font-family: "Lucida Sans Typewriter", Courier New, monospace;
  text-decoration: none;
  color: black;
}

#active{
  border-bottom: 1px solid salmon;
  bottom: 3px;
}

#hover:hover{
  color: salmon;
}

