
body {
  font-family: "Futura", Helvetica, sans-serif;
}

footer {
  font-size: 13px;
  color: salmon;
  margin-top: 1in;
  text-align: center;
  clear: left;
}

h3{
  width: 800px;
  margin: auto;
  display: block;
  margin-top: 50px;
}

h4{
  width: 800px;
  margin: auto;
  display: block;
  margin-top: 30px;
  color: salmon;  
}

.about-container{
  max-width: 50%;
  margin: auto;
  display: block;
  margin-top: 1in;
}

.about-image{
  float: left;
  margin-right: 50px;
  width: 300px;
}

.about-footer{
  margin-top: 2in;
}

.cover-image{
  margin: auto;
  display: block;
  height: 350px;
  width: 350px;
  opacity: .7;
  object-fit:cover;
}

.fa{
  padding: 20px;
  font-size: 30px;
  width: 15px;
  height: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  color: white;
  background: black;
}

.fa:hover {
  opacity: 0.5;
  color: salmon;
}

.name-link{
 font-weight: bold;
 text-align: center;
 color: black;
 text-decoration: none; 
}

.name-link:hover{
  color: salmon;
}

.nav{
  text-align: center;
  text-decoration: none;
  color: black;
}

.project-container{
  color: black;
  margin: .5in auto;
  position: relative;
  max-width: 30%;
  opacity: 1;
}

.project-container:hover{
  color: salmon;
  opacity: .5;
}

.project-page-image{
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1000px;
}
  
.project-page-text{
  width: 800px;
  display: block;
  margin: auto;
}

.project-text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 10px;
  max-width: 40%;
}

#active {
  color: salmon;
}


#drop-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  max-width: 50%;
}

#hover:hover{
  color: salmon;
}

#illustrations{
  max-width: 50%;
}

#width-30{
 width: 25%; 
}

/* image grid */

/* .column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
}

.column-right{
      float: left;
    margin-right: 400px;
    margin-bottom: 20px;
}

.column-left{
    float: right;
    margin-left: 400px;
    margin-bottom: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


 */
